<nav class="navbar header-background">
    <div class="container-fluid">
      <span class="ms-3 navbar-brand text-light brand-name">Address Book</span>
    </div>
</nav>
<nav class="navbar navbar-dark navbar-backgorund">
    <div class="container-fluid ms-3">
        <div>
            <a class="navbar-brand fs-6 fw-bold">HOME</a>
            <a class="navbar-brand fs-6 fw-bold" (click)="onAdd()">+ADD</a>
        </div>
        <div class="">
            <img src="../../assets/blog-icon.png" class="me-3" alt="logo">
        </div>
    </div>
</nav>

