.header-background
{
    background-color: #3399CC;
    height: 125px;
    
    .brand-name
    {
        font-size: 3.3rem !important;
        font-weight: 375;
    }
}

.navbar-backgorund
{
    background-color: #333333;

}
