<div class="container-fluid">
    <div class="ms-3">
        <div class="contacts-heading fw-bold mt-3">CONTACTS</div>        
    </div>
    <div class="mt-3 d-flex">
        <div class="contactlist">
        <div class="ms-3" *ngFor="let contact of alldetails">
            <div class="contact" (click)="onSelectedContact(contact)">
                <div class="fs-3 ps-1">{{contact.name}}</div>
                <div class="fs-6 ps-2">{{contact.email}}</div>
                <div class="fs-6 ps-2 lh-1">{{contact.mobile}}</div>
            </div>
        </div>
        </div>

          <div *ngIf="isEdit || isAdd" class="ms-3">
            <app-contactform/>
          </div>
        <div *ngIf="!isEdit && !isAdd && selectedContact" style="width:500px">
            <div class="ms-5">
                <div class="selectedContact d-flex align-items-end">
                    <div class="fs-3 lh-1">{{selectedContact.name}}</div>
                    <div class="d-flex align-items-end ms-auto">
                    <div class="ms-5"><span><img class="edit-icon" src="../../assets/edit1.jpg" title="Edit" (click)="onEdit(selectedContact.id)"/><span class="edit"> EDIT</span></span></div>
                    <div class="ms-5"><span><img class="delete-icon" src="../../assets/delete1.png" title="Delete" (click)="onDelete(selectedContact.id)"/><span class="delete"> DELETE</span></span></div>
                    </div>
                </div>
                <div class="mt-3">Email: {{selectedContact.email}}</div>
                <div class="mt-3">Mobile: {{selectedContact.mobile}}</div>
                <div>Landline: {{selectedContact.landline}}</div>
                <div class="mt-3">Website: {{selectedContact.website}}</div>
                <div class="mt-3">Address: {{selectedContact.address}}</div>
            </div>
        </div>
    </div>
</div>
